alabaster==0.7.10
Babel==2.4.0
dnspython==1.15.0
dnspython3==1.15.0
docutils==0.13.1
doxypy==0.4.1
imagesize==0.7.1
Jinja2==2.9.6
ldap3==2.2.4
Lumpy==0.3.1
MarkupSafe==1.0
pyasn1==0.2.3
Pygments==2.2.0
pytz==2017.2
requests==2.14.2
six==1.10.0
snowballstemmer==1.2.1
typing==3.6.1
Werkzeug==0.12.2
