<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="utf-8">
    	<title>Anmeldung</title>
    	<link rel="stylesheet" type="text/css" href="static/main.css">
  	</head>
  	<body>
    <div class="wrapper">
      <div class="container">
        <header>
        </header>

        <div class="content">
          <div class="column one">
            <img src="static/idplogo.png" alt="logo" style="padding-left: 15%;">


              <legend>
                Ihr Passwort wurde geändert.
              </legend>
		<center>
                  <a href="https://shib-lms-staging.km.co.at/Shibboleth.sso/Login">Weiter zum LMS</a>
		</center>

          </div>
          <div class="column two"></div>
        </div>
      </div>

	    </div>

 	</body>
</html>
